@import "tailwindcss";

:root {
  --primary-color: #1d4ed8;
  --border-radius: 10px;
}

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --radius-vsk: var(--border-radius);
  --color-vsk-primary: var(--primary-color);
}

body *{
  @apply text-gray-900 dark:text-gray-100 transition-all duration-300;
}

.background {
  @apply bg-white/70 dark:bg-black/70;
}